body {
    background: url(img/bg.png);
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4);
}

a {
    color: #5c7f1a;
}

input {
    display: block;
    width: 300px;
    margin: 1em  auto;
    padding: 7px 5px;
    border: 2px solid #5c7f1a;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #5c7f1a;
}

li {
    display: inline-block;
    margin-right: 15px;
}

li > a {
    opacity: .7;
}

li > .active {
    opacity: 1;
    -webkit-filter: invert(1);
    filter        : invert(1);

}

.hidden,
.shown {
    transition: opacity .3s ease-in-out;
}

.shown {
    opacity: 1;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

span,
iframe {
    display: inline-block;
    width: 550px;
    height: 264px;
    border: 0;
    background: no-repeat center center url(img/loader.gif);
    opacity: .3;
}

footer {
    margin: 30px 0;
}